
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
#transporte
{
   margin-top: 40px;
}
 #menu a, button{
     font-size: 18px ;
     font-weight: 600;

 }
 #flamenco
 {
      margin-left: 50px;

 }
 #flamenco2
 {
      margin-left: 30px;

 }
#tituloempresa
{
 font-size: 40px;
 margin-left: 40px;
 margin-top: 20px;
}
 #menu a{
     color:#3f3f3f;

 }
 #carousel
 {
    margin-top: 140px; 
 }

.carousel-inner {
    max-width: 100%;
    max-height:60rem;
}
.slide
{
 width: 100%;
 max-height: 40rem;
}
#img-equipo{
    max-height:30rem ;
    width:50%;
    border-radius: 20%;
}



#local {
    margin-top:50px;
    
    display:flex;
    justify-content: center; 
    padding-bottom: 300px; 
}
#mapagoogle
{
  margin-left: 100px;
  width: 680px;
  height: 450px;
  border-radius: 40%;
}
.mapa {

    height: 450px;
    margin-top: 8rem;
    
}


.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:150px;
}

#numeros-local{
    margin:0 ;
    padding:0;
}
#numeros-local div {
    padding: 0 20px 0 0;   
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}

#bg-contactos{
    position:relative;
    top: -150px;
} 

 #seccion-contacto
 {
    
    background-color: #212529;
    min-height:500px;
    position:relative;
}

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;

}

#titulo-formulario {
    color: #3f3f3f;
}

footer {
    background: #212529;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}


@media (max-width:1200px){
    #intro, #equipo {
        width:100% ;
        margin:0px;
    }

    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }

}
@media (max-width:768px) {

    #intro, #equipo{
        width:90%;
        margin:auto;
    }


    #img-equipo{
        max-height:20rem ;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa {
        width: 100%; 
        height:100%;
    }
    #bg-contactos{
        top: -120px;
    }
    #mapagoogle
    {
        margin-left: 50px;
        width:680px ;
        height:450px;
      border-radius: 40%;
    }

}
@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100%;
    }
    #servicios-fila-1 {
        width:100% ;
    }

    .icono-wrap{
        flex-wrap:wrap ;
        justify-content: center ;
        text-align: center;
    }
}